body {    
    background-color: rgba(167, 152, 125, 0.5);
    font-family: 'Courier New', Courier, monospace;
    color: black;
}
.nav_bar {
    font-size: 30px;
    font-weight: bold;
}
.container {
    margin-top: 30px;
    border: solid;
    border-radius: 5px;
    background-color: rgba(216, 204, 163, 0.5);
}

.col-3.nav_logo {
    background: url(../image/logo-no-background.svg) no-repeat;
    background-size: 100%;
    width: 50px;
    height: 50px;
    margin-right: 195px;
}

.nav_text {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.title_photo {
    text-align: center;
}

.my_photo {
    background: url(../image/My-photo.jpg) no-repeat center center;
    background-size: 100%;
    width: 100%;
    height: 420px;
    margin-top: 15px;
}

.text {
    margin-top: 15px;
    margin-left: 10px;
}

.button_js {
    text-align: center;
}

.index {
    margin-top: 5px;
    text-align: center;
}

.form_reg {
    width: 375px;
    height: 35px;
    margin: 3px;
}

.btn_reg{
    border: none;
    border-radius: 15px;
    width: 150px;
    height: 50px;
    background-color: #907ad8;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

#demo img {
    margin-top: 20px;
    width: 25%;
}

.flex_center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}



#myButton {
    border: none;
    border-radius: 15px;
    width: 150px;
    height: 50px;
    background-color: #907ad8;
    font-weight: bold;
}